@page
@model TheWorkshop.Pages.CalendarEvents.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CalendarEvent</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CalendarEvent.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CalendarEvent.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CalendarEvent.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CalendarEvent.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CalendarEvent.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CalendarEvent.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CalendarEvent.ScrapValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CalendarEvent.ScrapValue)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CalendarEvent.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
